.App {
  display: flex;
}

.MoviePlayer {
  border: 1px solid #555;
  flex: 3 3 auto;
  height: 600px;
}

.MovieList {
  border: 1px solid #555;
  flex: 1 1 auto;
}

.MovieListEntry {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #555;
  height: 300px;
}

.genres {
  display: flex;
  flex: wrap;
}

.genre {
  background-color: #555;
  color: #fff;
  border-radius: 5px;
  margin: 3px;
}
